@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "IRFontM";
  src: url("/assets/fonts/Abi_Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRFontB";
  src: url("/assets/fonts/AbiـBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "IRFontM";
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-family: IRFontM;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
